/* colors */
$brand := #f1bc1a

$green := #14CCA0

$blue := #009CFF

$red := #F12D2D

$light-grey := #888888

$grey := #555555

$dark-grey := #414141

$colors := {
  "brand": $brand,
  "blue": $blue,
  "green": $green,
  "red" : $red,
  "light-grey": $light-grey,
  "grey": $grey,
  "dark-grey": $dark-grey
}

/* status color */
$error-color := $red

$success-color := $green

/* background color */
$bg-color := #fff6e8

/* border color */
$border-color-1 := #e8e3da

$border-color-2 := #decaaa

$border-color-3 := #dcbc83

$border-color := $border-color-1

/* font color */
$font-color := #907b59
